<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="car_setter_di" class="com.beans.Car">
    	<property name="chassisNumber" value="eng2012" />
    	<property name="color" value="baker's chocolate" />
    	<property name="fuelType" value="petrol" />
    	<property name="price" value="643800" />
    	<property name="average" value="12.50" />
    </bean>
    
    <bean id="car_constructor_di" class="com.beans.Car">
    	<constructor-arg value="eng023" />
    	<constructor-arg value="green" />
    	<constructor-arg value="petrol" />
    	<constructor-arg value="12" />
		<constructor-arg value="678900" />
    </bean>
    
    <bean id="car_constuctor_ambiguity" class="com.beans.Car">
    	<constructor-arg value="688900" index="4" />
    	<constructor-arg value="12" index="3" />
    	<constructor-arg value="petrol" index="2" />
    	<constructor-arg value="yellow" index="1" />
    	<constructor-arg value="eng024" index="0" />
    </bean>
    
</beans>